<div class="container">
  <br>
  <div class="jumbotron">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Full-stack development with all the strings attached.</p>
    <hr class="my-4">
    <p>Shoelaces.js provides a base framework that can be used to deploy MEAN stack apps quickly and efficiently. Shoelaces comes pre-loaded with Angular 5, Bootstrap, Passport.js, an Express API, and several pre-configured Angular schematics to quickly deploy the environment you want.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
    </p>
  </div>
</div>
