<div class="container">
  <br>
  <div class="jumbotron">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Full-speed game development</p>
    <hr class="my-4">
    <p>Development Derby is an indie development studio that specializes in providing intense gameplay. We are currently knee-deep in development on an upcoming title. Click below to be notified when we launch.</p>
    <p class="lead">
      <app-signup></app-signup>
    </p>
  </div>

  <div>
    <app-blog-recent></app-blog-recent>
  </div>
</div>
